* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e94d67de;
}

.continer {
    position: relative;
    display: flex;
    align-items: center;
}

.continer .search-box {
    position: relative;
    width: 300px;
    height: 45px;
    width: 280px;
    transition: all 0.5s ease;
}

#check:checked~.search-box {
    display: none;
    overflow: hidden;
}

#check:checked~label {
    border-radius: 50%;
}

#check:checked~label i {
    padding-left: 4px;
}

.continer .search-box .mainInput {
    position: absolute;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    color: black;
}

.continer label {
    position: absolute;
    right: 0;
    height: 45px;
    width: 45px;
    background-color: #ff0d6a;
    border-radius: 0 20px 20px 0
}

.continer label i {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 13px;
    left: 10px;
}


.continer input::placeholder {
    padding-left: 25px;
    font-size: 16px;
}

.continer input[type="checkbox"] {
    display: none;
}



/* 
#check:checked~input.mainInput {
    display: none;
}

#check:checked~label {
    border-radius: 50%;
}